/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
    border-color: #dc3545;
}

input.ng-valid{
    border-color: #28a745;
}

.green-icon{
    color: #28a745;
}

.red-icon{
    color: #dc3545;
}


.alert{
    padding: .4em 1em !important;
    margin-top: 12px;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}

#toast-container > div{
    opacity: 1;
}

table tbody tr:hover{
    cursor: pointer;
}

.disabled-cursor{
    cursor: not-allowed;
}

